<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fydp.shelfe"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fydp.shelfe.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.fydp.shelfe.LoggedIn"
            android:label="@string/app_name"  >
            
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fydp.shelfe.Settings"
               android:label="@string/activity_settings"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
        <activity
            android:name="com.fydp.shelfe.Register"
            android:label="@string/app_name"              
            android:noHistory="true"
            android:launchMode="singleTop">
            
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity
            android:name="com.fydp.shelfe.ItemView"
            android:label="@string/app_name">
            
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        <activity
            android:name="com.fydp.shelfe.GraphicalView"
            android:label="@string/app_name">
            
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
		<activity
		      android:name="com.google.zxing.client.android.CaptureActivity"
		      android:configChanges="orientation|keyboardHidden"
		      android:screenOrientation="portrait"
		      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		      android:windowSoftInputMode="stateAlwaysHidden" >
		</activity>

    </application>

</manifest>
